dist: jammy
language: node_js
node_js:
  - "20.6.1"
services:
  - postgresql
before_install:
  - apt search pgvector
  - cd /tmp
  - git clone --branch v0.5.0 https://github.com/pgvector/pgvector.git
  - cd pgvector
  - make
  - make install # may need sudo
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -c 'create database travis_ci_test_readonly;' -U postgres
env: NODE_ENV=test
