dist: jammy
language: node_js
node_js:
  - "20.6.1"
services:
  - docker
before_install:
  - docker pull ankane/pgvector
  - docker run --name some-postgres -e POSTGRES_PASSWORD=mysecretpassword -d postgres
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -c 'create database travis_ci_test_readonly;' -U postgres
env: NODE_ENV=test
